
{% extends 'back/index.html.twig' %}
{% block content %}
<!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
          </div>
          <!-- content-wrapper ends -->
        