{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="container text-center">
            <h1>Error</h1>
            <p>{{ message|default('An unexpected error occurred.') }}</p>
            <a href="{{ path('app_offre_index') }}" class="btn btn-primary">Back to Offers</a>
        </div>
    </div>
{% endblock %}