<form method="post" action="{{ path('app_offre_delete', {'id_offre': offre.id_offre}) }}" 
      onsubmit="return confirm('Êtes-vous sûr ?');" 
      class="d-inline w-100">
    <button type="submit" class="btn btn-danger border-secondary py-3 px-4 text-uppercase w-100">
        <i class="fas fa-trash-alt me-2"></i>Supprimer
    </button>
</form>